.c-vallle-code-input {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-1;
  align-items: center;

  &--error {
    .c-vallle-code-input__input-segment-input {
      outline: solid 1px $color-danger;
    }
  }
}

.c-vallle-code-input__input-segment {
  display: flex;
  flex: 1;
  align-items: center;
  gap: $spacing-2;
}

.c-vallle-code-input__input-segment-input {
  background: $color-parchment;
  border-radius: $border-radius-sm;
  flex: 1;
  color: $text-color-highlight;
  font-weight: $font-weight-bold;
  aspect-ratio: 1/1;
  text-align: center;
  text-transform: uppercase;
  width: 1px;

  @include focus {
    border-color: solid 1px $color-ash;
  }

  &::placeholder {
    color: $text-color-muted;
  }
}

.c-vallle-code-input__input-segment-separator {
  font-weight: $font-weight-bold;
  color: $text-color-highlight;
  user-select: none;
}

.c-vallle-code-input__error {
  flex: 1 0 100%;
  color: $color-danger;
}

@include screen(lg) {
  .c-vallle-code-input__input-segment-input,
  .c-vallle-code-input__input-segment-separator {
    @include font-size(3xl);
  }
}
