@font-face {
  font-family: "Karl";
  src:
    url("/webfonts/karl-light-webfont.woff2") format("woff2"),
    url("/webfonts/karl-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karl";
  src:
    url("/webfonts/karl-bold-webfont.woff2") format("woff2"),
    url("/webfonts/karl-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TAN - NIMBUS";
  src:
    url("/webfonts/tan-nimbus-webfont.woff2") format("woff2"),
    url("/webfonts/tan-nimbus-webfont.woff") format("woff");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
