.c-accordion {
  border-bottom: solid 1px $color-parchment;
}

.c-accordion__trigger {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: $spacing-3 0;

  &::-webkit-details-marker {
    display: none;
  }
}

.c-accordion__title {
  color: $text-color;
  font-weight: $font-weight-bold;
}

.c-accordion__icon {
  color: $text-color;
  flex-shrink: 0;
  transition: $transition-normal;
  width: to-rem(20);
  height: to-rem(20);

  details[open] & {
    transform: rotate(180deg);
  }
}

.c-accordion__body {
  padding: $spacing-3 0;
}
