.c-badge {
  background: rgba($color-ash, 0.15);
  border-radius: $border-radius-3xl;
  color: $text-color;
  display: inline-block;
  padding: $spacing-1 $spacing-3;

  &--success {
    background: rgba($color-success, 0.12);
    color: $color-success;
  }

  &--warning {
    background: rgba($color-warning, 0.15);
    color: $color-warning;
  }

  &--danger {
    background: rgba($color-danger, 0.1);
    color: $color-danger;
  }
}
