.c-card {
  border: solid 1px $color-parchment;
  border-radius: $border-radius-3xl;
  display: flex;
  flex-direction: column;
}

.c-card__header {
  align-items: center;
  display: flex;
  gap: $spacing-2;
  padding: $spacing-4 $spacing-6 0 $spacing-6;
}

.c-card__header-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.c-card__header-title {
  color: $text-color-highlight;
  font-weight: $font-weight-bold;
}

.c-card__header-description {
  @include font-size(sm);
  color: $text-color-muted;
}

.c-card__header-action {
  margin-left: auto;
}

.c-card__body {
  padding: $spacing-6;
}
