.c-empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.c-empty-state__image {
  height: to-rem(240);
  width: to-rem(240);
}

.c-empty-state__description {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: $spacing-6;
  }
}

.c-empty-state__action {
  width: 100%;
}
