.c-empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.c-empty-state__image {
  height: to-rem(240);
  width: to-rem(240);

  &--hidden-mobile {
    display: none;
  }
}

.c-empty-state__description {
  text-align: center;
  text-wrap: balance;

  &:not(:last-child) {
    margin-bottom: $spacing-6;
  }
}

.c-empty-state__action {
  width: 100%;
}

@include screen(md) {
  .c-empty-state__image {
    height: to-rem(360);
    width: to-rem(360);

    &--hidden-mobile {
      display: unset;
    }
  }
}
