.c-error-state {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.c-error-state__image {
  height: to-rem(240);
  width: to-rem(240);
}

.c-error-state__description {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: $spacing-6;
  }
}

.c-error-state__action {
  width: 100%;
}

@include screen(md) {
  .c-error-state__image {
    height: to-rem(360);
    width: to-rem(360);
  }
}
