.c-loader {
  animation: loader-animation 1s infinite alternate;
  aspect-ratio: 4;
  background:
    radial-gradient(
      circle closest-side at left 4px top 50%,
      $color-espresso 90%,
      transparent
    ),
    radial-gradient(circle closest-side, $color-espresso 90%, transparent),
    radial-gradient(
      circle closest-side at right 4px top 50%,
      $color-espresso 90%,
      transparent
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 12px;
  width: 40px;
}

@keyframes loader-animation {
  to {
    aspect-ratio: 1;
    width: 8px;
  }
}
