.c-select__control {
  border: solid 1px $color-parchment;
  border-radius: $border-radius-lg;
  color: $text-color-highlight;
  cursor: pointer;
  padding: $spacing-3 $spacing-4;
  transition: $transition-normal;
  width: 100%;

  &--is-focused {
    border-color: $color-ash;
  }
}

.c-select__placeholder {
  color: $text-color-muted;
}

.c-select__dropdown-indicator {
  color: $icon-color-muted;
  transition: $transition-normal;

  .c-select__control--menu-is-open & {
    transform: rotate(180deg);
  }
}

.c-select__menu {
  background: $color-linen;
  border: solid 1px $color-parchment;
  border-radius: $border-radius-lg;
  margin-top: $spacing-1;
  overflow: hidden;
  z-index: 2;
}

.c-select__option {
  cursor: pointer;
  padding: $spacing-3 $spacing-4;
  transition: background $transition-normal;

  &--is-focused {
    background: $color-sand;
  }

  &--is-selected {
    background: $color-sand;
    color: $text-color-highlight;
  }
}

.c-select__value-container--is-multi {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
}

.c-select__multi-value {
  align-items: center;
  background: $color-linen;
  border-radius: $border-radius-sm;
  display: flex;
  gap: $spacing-1;
  overflow: hidden;
}

.c-select__multi-value__label {
  padding: $spacing-1 $spacing-2;
}

.c-select__multi-value__remove {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0 $spacing-2;
  transition: background $transition-normal;

  &:hover {
    background: $color-parchment;
  }
}
