.c-store-select__list {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.c-store-select__option {
  align-items: center;
  border: solid 1px $color-parchment;
  border-radius: $border-radius-lg;
  cursor: pointer;
  display: flex;
  gap: $spacing-4;
  justify-content: space-between;
  padding: $spacing-4 $spacing-6;
  transition: $transition-normal;
  width: 100%;

  @include hover {
    box-shadow: 0 12px 12px -8px rgba($color-black, 0.1);

    .c-store-select__option-arrow {
      color: $color-terracota;
      transform: translateX(12.5%);
    }
  }

  @include focus-visible {
    border-color: transparent;
    outline: solid 2px $color-driftwood;
  }

  @include active {
    transform: scale(0.98);
  }
}

.c-store-select__option-content {
  display: flex;
  flex-direction: column;
}

.c-store-select__option-name {
  color: $text-color-highlight;
  font-weight: $font-weight-bold;
}

.c-store-select__option-meta {
  @include font-size(sm);
  color: $text-color-muted;
}

.c-store-select__option-arrow {
  color: $icon-color-highlight;
  flex-shrink: 0;
  transition: $transition-normal;
}
