.s-background {
  margin: 0 auto;
  pointer-events: none;
  position: relative;
  user-select: none;
  width: to-rem(160);

  @include screen(sm) {
    width: to-rem(320);
  }
}

@include screen(lg, landscape) {
  .s-background {
    bottom: 0;
    left: 0;
    max-width: to-rem(560);
    position: absolute;
    width: 25vw;
  }
}
