.s-header {
  background: $color-linen;
  width: 100%;
  padding: $spacing-3;
  position: sticky;
  top: 0;
}

.s-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-2;
  border: solid 1px $color-parchment;
  border-radius: to-rem(40);
}

.s-header__extra {
  align-items: center;
  display: flex;
  gap: $spacing-3;
}

.s-header__help-icon {
  width: to-rem(20);
  height: to-rem(20);
}

.s-header__store-switch {
  align-items: center;
  display: inline-flex;
  gap: $spacing-2;
  border: solid 1px $color-parchment;
  border-radius: $border-radius-3xl;
  padding: 0 $spacing-3;
  height: to-rem(48);
}

.s-header__store-switch-icon {
  width: to-rem(20);
  height: to-rem(20);
}

.s-header__user-button {
  align-items: center;
  display: flex;
}

.s-header__user-button-image {
  border-radius: to-rem(48);
  border: solid 1px $color-parchment;
  width: to-rem(48);
  height: to-rem(48);
}

.s-header__user-button-toggle-icon {
  width: to-rem(20);
  height: to-rem(20);
}

@include screen(md) {
  .s-header {
    padding: $spacing-6;
  }
}
