.s-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 $spacing-6;
  gap: $spacing-6;
  width: 100%;

  &:first-child {
    padding: $spacing-6;
  }
}

.s-main__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: $screen-lg;
  width: 100%;
}

.s-main__header {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  margin-bottom: $spacing-9;
  text-align: center;
}

.s-main__header-image {
  height: to-rem(240);
  margin: 0 auto;
  width: to-rem(240);
}

.s-main__header-title-description {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.s-main__header-title {
  @include font-size(3xl);
  color: $text-color-highlight;
  font-family: $font-family-two;
  font-weight: $font-weight-bold;
}

.s-main__header-description {
  @include font-size(lg);
  text-wrap: balance;
}

.s-main__header-actions {
  order: -1;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
  justify-content: flex-end;
}

.s-main__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@include screen(md) {
  .s-main {
    padding: 0 $spacing-9;
  }

  .s-main__header {
    align-items: center;
    flex-direction: row;
    margin-bottom: $spacing-12;
    text-align: left;
  }

  .s-main__header-image {
    display: none;
  }

  .s-main__header-actions {
    justify-content: flex-start;
    margin-left: auto;
    order: initial;
  }

  .s-main__header-title {
    @include font-size(5xl);
  }
}
