.s-navigation {
  order: 1;
  padding: $spacing-3;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.s-navigation__items {
  background: $color-linen;
  display: flex;
  gap: $spacing-4;
  border: solid 1px $color-parchment;
  padding: $spacing-1;
  border-radius: to-rem(40);
}

.s-navigation__item {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: to-rem(48);
  border: solid 1px transparent;
  width: to-rem(48);
  height: to-rem(48);

  &.is-active {
    background: $color-terracota;

    .s-navigation__item-icon {
      color: $color-white;
    }
  }
}

.s-navigation__item-icon {
  color: $icon-color-muted;
}

@include screen(md) {
  .s-navigation {
    padding: $spacing-6;
  }
}
