.s-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-4;
}

.s-navigation__menu-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.s-navigation__menu-item {
  border: solid 1px transparent;
  border-radius: to-rem(40);
  display: inline-flex;
  align-items: center;
  color: $icon-color-muted;
  justify-content: center;
  height: to-rem(40);
  width: to-rem(40);

  &.is-active {
    border-color: $color-parchment;
    color: $icon-color-highlight;
  }
}

.s-navigation__extra {
  display: flex;
  align-items: center;
  gap: $spacing-4;
}

.s-navigation__help {
  color: $icon-color-muted;
}

.s-navigation__user-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: $spacing-1;
  position: relative;
}

.s-navigation__user-button-image {
  border-radius: to-rem(40);
  border: solid 1px $color-parchment;
  height: to-rem(40);
  width: to-rem(40);
}

.s-navigation__user-button-toggle-icon {
  height: to-rem(16);
  width: to-rem(16);
  color: $icon-color-muted;
  position: absolute;
  right: -$spacing-1;
  transform: translateX(100%);
}

@include screen(lg) {
  .s-navigation {
    flex-direction: column;
    position: fixed;
    left: 0;
    height: 100vh;
    padding: $spacing-9;
  }

  .s-navigation__menu {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .s-navigation__menu-items {
    flex-direction: column;
    gap: $spacing-3;
  }

  .s-navigation__menu-item {
    border-radius: to-rem(48);
    height: to-rem(48);
    width: to-rem(48);
  }

  .s-navigation__extra {
    flex-direction: column;
  }

  .s-navigation__user-button-image {
    border-radius: to-rem(48);
    height: to-rem(48);
    width: to-rem(48);
  }
}
