.p-auth-forgot-password {
  margin: auto;
  max-width: $screen-1xs;
  width: 100%;
}

.p-auth-forgot-password__header {
  margin-bottom: $spacing-9;
  text-align: center;
}

.p-auth-forgot-password__header-title {
  @include font-size(3xl);
  color: $text-color-highlight;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-6;
  text-wrap: balance;
}

.p-auth-forgot-password__header-description {
  text-wrap: balance;
}

.p-auth-forgot-password__body-form {
  margin-bottom: $spacing-9;
}

.p-auth-forgot-password__body-back {
  text-align: center;
}

.p-auth-forgot-password__body-back-link {
  @include font-size(sm);
  color: $text-color-highlight;
  text-decoration: underline wavy $color-terracota 1px;
  text-underline-offset: $spacing-2;
  transition: $transition-normal;

  @include hover {
    color: $text-color-highlight;
    text-underline-offset: $spacing-1;
  }
}

@include screen(md) {
  .p-auth-forgot-password__header-title {
    @include font-size(5xl);
  }
}
