.p-auth-select-store {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $screen-1xs;
  width: 100%;
}

.p-auth-select-store__loading {
  margin: auto;
}

.p-auth-select-store__header {
  margin-bottom: $spacing-9;
  text-align: center;
}

.p-auth-select-store__header-title {
  @include font-size(3xl);
  color: $text-color-highlight;
  font-family: $font-family-two;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-6;
  text-wrap: balance;
}

.p-auth-select-store__header-description {
  text-wrap: balance;
}

.p-auth-select-store__body-form {
  margin-bottom: $spacing-9;
}

@include screen(md) {
  .p-auth-select-store__header-title {
    @include font-size(5xl);
  }
}
