.p-auth-login {
  margin: auto;
  max-width: $screen-xs;
  padding: $spacing-6;
  width: 100%;
}

.p-auth-login__logo {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-9;
}

.p-auth-login__logo-image {
  width: to-rem(120);
}

.p-auth-login__body-form {
  margin-bottom: $spacing-9;
}

.p-auth-login__body-forgotten {
  text-align: center;
}

.p-auth-login__body-forgotten-link {
  @include font-size(sm);
  text-decoration: underline wavy $color-terracota 1px;
  text-underline-offset: $spacing-2;
}
